footer {
  background-color: #2a343d;
  padding: 50px 0;
  .heading-style-3 {
    line-height: 25.5px;
    font-size: 18px;
        font-weight: lighter;
    text-align: justify;
    margin-top: 10px;
  }
  .footer-text {
    margin-top: 45px;
    font-weight: lighter;
    line-height: 30px;
    font-size: 20px;
  }
}