.banner {
  background-image: url(../../../img/bg/bg_1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  padding-bottom: 80px;
  .container {
    margin-bottom: 8.5rem !important;
  }
}

.banner-content {
  p {
    font-size: 13px;
    padding-right: 35px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 25px;
      height: 3px;
      background-color: #ef5c5c;
      top: 5px;
      right: 0;
    }
  }
  .btn-transparent {
    position: absolute;
    left: 25px;
    bottom: -65px;
  }
}

.btn-transparent {
  font-size: 16px;
  padding: 10px 30px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 20px;
  transition: .3s;
  &:hover {
    background-color: #fff;
    color: #000000cf;
  }
}

.instantaneous-news {
  .sa_yellow_section {
    background-color: #fad32b;
    .heading-style-3 {
      margin-bottom: 0;
    }
  }
  #owl-one {
    .item {
      p {
        color: #fff;
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
  }
  .owl-dots {
    display: none;
  }
  .owl-nav {
    margin-top: 10px;
    width: 50px;
    background-color: #1d252d;
    color: #fad32b;
    position: absolute;
    left: 0;
    top: 0;
    [class*=owl-]:hover {
      background: transparent;
      color: #FFF;
      text-decoration: none;
    }
  }
  .sa_news_slider {
    background-color: #1d252d;
  }
}