.banner {
  background-image: url(../../../img/bg/bg_1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  padding-bottom: 80px;
  .container {
    margin-bottom: 8.5rem !important;
  }
}

.banner-content {
  p {
    font-size: 13px;
    padding-right: 35px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 25px;
      height: 3px;
      background-color: #ef5c5c;
      top: 5px;
      right: 0;
    }
  }
  .btn-transparent {
    position: absolute;
    left: 25px;
    bottom: -65px;
  }
}

.instantaneous-news {
  .sa_yellow_section {
    background-color: #fad32b;
    .heading-style-3 {
      margin-bottom: 0;
    }
  }
  #owl-one {
    .item {
      p {
        color: #fff;
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
  }
  .owl-dots {
    display: none;
  }
  .owl-nav {
    margin-top: 10px;
    width: 50px;
    background-color: #1d252d;
    color: #fad32b;
    position: absolute;
    left: 0;
    top: 0;
    [class*=owl-]:hover {
      background: transparent;
      color: #FFF;
      text-decoration: none;
    }
  }
  .sa_news_slider {
    background-color: #1d252d;
  }
}

.main-landing {
  padding: 60px 0;
  #owl-three,
  #owl-two {
    .owl-dots {
      display: none;
    }
    .owl-nav {
      position: absolute;
      left: -5px;
      top: -70px;
      margin-top: 0;
      .owl-next {
        margin-right: 5px;
      }
      button {
        padding: 3px 10px !important;
        border: 2px solid #e6e6e6;
        color: #e6e6e6;
        transition: .4s;
      }
      [class*=owl-]:hover {
        background: #ff0000;
        text-decoration: none;
      }
    }
  }
  .sa_other_new_news {
    img {
      border: 2px solid #000;
      border-radius: 10px;
    }
  }
}

.thumbnail {
  .caption {
    .info-news {
      position: absolute;
      color: #b3b3b3;
      font-size: 12px;
      bottom: 90px;
    }
    .commends {
      right: 25px;
      @extend .info-news;
    }
    .date {
      left: 25px;
      @extend .info-news;
    }
  }
}

.main-landing {
  .sa_border_box_2_menu {
    font-size: 13px;
    position: absolute;
    top: 18px;
    left: 15px;
    li {
      margin-right: 20px;
      &:first-child {
        margin-right: 0;
      }
      a {
        color: #2a343d;
        &:hover {
          color: #2a343d;
        }
      }
    }
  }
  .table-league-title {
    a {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 15px;
      color: #2a343d;
      &.active {
        color: red;
        background-color: #fff;
      }
    }
  }
  .table-league {
    font-size: 9px;
    padding-top: 10px;
    padding-right: 15px;
    margin-top: 51px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: #fff;
    .table th,
    .table td {
      padding: 0;
      text-align: center;
      border-top: 0;
    }
  }
  .number_1 {
    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  &.no-padding.bg-gray {
    overflow: hidden;
    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.latest-matches-1 {
  .scores {
    padding-right: 10px;
    padding-left: 10px;
  }
}