$max_576px: '(max-width: 576px)';
$min_576px: '(min-width: 576px)';
$max_768px: '(max-width: 768px)';
$min_768px: '(min-width: 768px)';
$max_992px: '(max-width: 992px)';
$min_992px: '(min-width: 992px)';
$max_1200px: '(max-width: 1200px)';
$min_1200px: '(min-width: 1200px)';

/* header */

@media #{$max_1200px} {
  .header-one {
    a {
      font-size: 17px;
    }
  }
}

@media #{$max_992px} {
  .header-two {
    .form-control {
      margin-top: 5px;
    }
  }
  .rtl {
    .navbar-nav {
      .nav-item + .nav-item {
        margin-right: 0;
      }
    }
  }
}

@media #{$max_768px} {
  .header-two,
  .header-one {
    display: none;
  }
  .thumbnail {
    img {
      opacity: .3;
    }
    cursor: pointer;
    .caption {
      .info-news {
        opacity: 1;
      }
    }
  }
}

@media #{$min_768px} {
  .cssmenu,
  .sa-header-button {
    display: none;
  }
  .main-landing {
    #owl-two {
      .padding-right {
        padding-right: 55px;
      }
      .padding-left {
        padding-left: 55px;
      }
    }
  }
}


/* landing */

@media #{$max_1200px} {
  .comment-1 {
    .profile-details:before {
      font-size: 60px;
      top: -15px;
      left: 6px;
    }
  }
  .latest-matches-1 {
    .loser {
      &:before {
        left: -4px;
      }
      &:after {
        left: 8px;
      }
    }
  }
}

@media #{$min_992px} and #{$max_1200px} {
  .latest-matches-1 {
    h3 {
      font-size: 9px;
      margin-bottom: -10px;
    }
    .scores {
      padding-right: 0;
      padding-left: 0;
    }
    .winner:before {
      right: 0px;
    }
    .winner:after {
      right: 12px;
    }
  }
  .news-detail-1 {
    span {
      font-size: 8px;
      top: -8px;
    }
  }
}

@media #{$max_992px} {
  .instantaneous-news {
    #owl-one {
      .item {
        p {
          margin-bottom: 15px;
        }
      }
    }
  }
  .border-box {
    .table-league {
      font-size: 17px;
    }
  }
  .main-landing {
    .right-side {
      margin-bottom: 20px;
    }
  }
  .latest-matches-1 {
    h3 {
      font-size: 13px;
      margin-bottom: -10px;
      text-align: center;
    }
    .middeler {
      font-size: 50px;
    }
    .scores {
      top: 40px;
      span.score {
        font-size: 40px;
      }
    }
    .winner:after {
      font-size: 30px;
      top: -24px;
      right: 62px;
    }
    .winner:before {
      font-size: 24px;
      width: 83px;
      height: 35px;
      top: -40px;
      right: 28px;
    }
    .loser:after {
      font-size: 30px;
      top: -24px;
      left: 52px;
    }
    .loser:before {
      font-size: 24px;
      width: 83px;
      height: 35px;
      top: -40px;
      left: 19px;
    }
  }
  .news-detail-1 {
    span {
      font-size: 15px;
      color: #91949680;
      position: relative;
      top: 0px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .social-media-1 {
    ul {
      margin-top: -40px;
      margin-bottom: 25px !important;
      a {
        font-size: 35px;
        color: #bdbdbd !important;
      }
    }
  }
}

@media #{$max_768px} {
  .latest-matches-1 {
    .winner:before {
      font-size: 20px;
      width: 70px;
      height: 30px;
      top: -23px;
      right: 5px;
    }
    .winner:after {
      font-size: 30px;
      top: -13px;
      right: 30px;
    }
    .loser:before {
      font-size: 20px;
      width: 70px;
      height: 30px;
      top: -23px;
      left: 5px;
    }
    .loser:after {
      font-size: 30px;
      top: -13px;
      left: 30px;
    }
    .scores {
      top: 30px;
      span.score {
        font-size: 30px !important;
      }
    }
  }
  .comment-1 {
    .profile-details {
      &:before {
        font-size: 115px;
      }
      h4 {
        font-size: 35px !important;
        margin-top: 35px;
        margin-bottom: 25px !important;
      }
      span {
        font-size: 18px !important;
      }
    }
  }
  .px-4,
  .py-4,
  .py-4.px-4 {
    padding: 0 !important;
  }
  .px-5,
  .py-5,
  .py-5.px-5 {
    padding: 0 !important;
  }
  #myTabContent_2 {
    .tab-pane {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

@media #{$max_576px} {
  .instantaneous-news {
    #owl-one {
      .item {
        p {
          font-size: 11px;
        }
      }
      .owl-nav {
        left: -10px;
        top: -3px;
      }
    }
  }
  .comment-1 {
    .text {
      p {
        font-size: 16px;
      }
    }
  }
  .main-landing {
    .sa_border_box_2_menu {
      font-size: 12px;
      top: 12px;
      left: 0px;
      li {
        margin-right: 0;
      }
    }
  }
  .latest-matches-1 {
    .winner:before {
      font-size: 16px;
      width: 50px;
      height: 25px;
      top: -18px;
      right: 13px;
    }
    .winner:after {
      font-size: 30px;
      top: -13px;
      right: 30px;
    }
    .loser:before {
      font-size: 16px;
      width: 50px;
      height: 25px;
      top: -18px;
      left: 13px;
    }
    .loser:after {
      font-size: 30px;
      top: -13px;
      left: 30px;
    }
  }
}

@media (max-width: 500px) {
  .latest-matches-1 {
    display: none;
  }
}

@media (max-width: 485px) {
  .banner-content {
    h4.heading-style-2 {
      font-size: 20px;
    }
  }
  .border-box {
    .table-league {
      font-size: 12px;
    }
  }
  .sa_pagnination_number_1 {
    width: 248px;
    .page-item {
      .page-link.active,
      .page-link {
        padding: 5px 10px;
      }
    }
  }
  .sa_divider_image {
    .text {
      padding-right: 20px;
      font-size: 15px;
    }
  }
  .border-box {
    .heading-style-3 {
      line-height: 25px;
      margin-top: 5px;
      font-size: 15px;
    }
    span.span_size {
      font-size: 10px;
    }
  }
  .comment-1 {
    .profile-details {
      h4 {
        font-size: 20px !important;
      }
      &:before {
        font-size: 90px;
      }
    }
  }
}

@media (max-width: 400px) {
  .border-box.number_1,
  .instantaneous-news {
    display: none;
  }
  .banner-content {
    h4.heading-style-2 {
      font-size: 17px;
    }
    p {
      font-size: 11px;
    }
  }
}


/* managers */


/* player */

@media #{$max_992px} {
  .testimonial {
    .profile-platform {
      margin: 0;
      .background-profile {
        .profile {
          .text {
            padding-bottom: 15px !important;
          }
          .profile_box {
            border-radius: 50% !important;
          }
        }
      }
      .profile_special {
        height: 55px;
        a {
          font-size: 30px;
          top: 10px;
          opacity: 1;
        }
      }
    }
  }
}

@media #{$max_768px} {
  .testimonial {
    .profile-platform {
      margin: 0 30px;
      margin-top: 130px;
    }
  }
}

@media #{$max_576px} {
  .banner_2 {
    h1 {
      font-size: 20px;
      margin: 0 20px;
    }
  }
}


/* news */

@media #{$max_1200px} {
  .news-section {
    .border-box-2 {
      .title {
        font-size: 12px;
      }
      p.text {
        font-size: 10px;
        margin-top: 5px;
      }
      .btn_2 {
        padding: 1px 7px;
        top: -6px;
      }
      hr.hr-divider-1 {
        margin-top: 10px;
      }
    }
    .cutomized-form-radio {
      margin-left: -8px;
    }
  }
}

@media #{$max_992px} {
  .news-section {
    .border-box-2 {
      hr.hr-divider-1 {
        margin-top: 60px;
      }
    }
    .next-match {
      .date-match {
        width: 100%;
        font-size: 14px;
        text-align: center;
      }
      .versous {
        margin-top: 70px;
        font-size: 50px;
      }
      h4 {
        font-size: 18px;
      }
    }
    .news-letter {
      .cutomized-form-radio {
        width: 70px;
      }
    }
  }
}

@media #{$min_768px} {
  .news-section {
    .border-box-2 {
      hr.hr-divider-2 {
        display: none;
      }
    }
  }
}

@media #{$max_768px} {
  .news-section {
    .border-box-2 {
      img.news-image {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-left-radius: 5px;
      }
      .divider {
        padding: 50px 0
      }
      hr.hr-divider-2 {
        margin-right: -25px;
        margin-left: -25px;
        margin-bottom: 45px;
        border-color: #bababa;
      }
      .hr-divider-1 {
        display: none;
      }
      .news-content {
        padding-right: 40px;
      }
    }
  }
}


/* footer */

@media #{$max_992px} {
  footer {
    .news-letter {
      .btn_1 {
        margin-left: -37px;
        &:after {
          right: -21px;
          border-width: 40px 0 0 20px;
        }
      }
      .form-group {
        &:before {
          border-width: 0 20px 40px 0;
          border-color: transparent #505050 transparent transparent;
        }
        &:after {
          border-width: 0 20px 37px 0;
        }
      }
      input {
        border: 2px solid #505050;
        margin-left: 17px;
      }
    }
  }
}

@media #{$max_768px} {
  footer {
    .footer-brand {
      margin-top: 42px;
    }
    .social-media {
      top: 50px;
    }
    .text {
      margin-bottom: 0;
    }
    .news-letter {
      .btn_1 {
        margin-left: inherit;
        &:after {
          right: -33px;
          border-width: 40px 0 0 32px;
        }
      }
      .form-group {
        &:before {
          border-width: 0 32px 40px 0;
          border-color: transparent #fff transparent transparent;
          right: 244px;
        }
        &:after {
          border-width: 0 31px 38px 0;
          right: 243px;
        }
      }
      input {
        border: 1px solid #fff;
        margin-left: 15px;
        padding: 7px;
        padding-top: 8px;
      }
    }
    .navbar-footer {
      ul {
        font-size: 11px;
      }
    }
  }
}

@media #{$max_768px} {
  footer {
    .footer-brand {
    margin-top: 90px;
    text-align: center;
}
    .social-media {
    left: 0;
    right: 0;
}
    .no_margin {
      margin-right: 15px;
      margin-left: 15px;
    }
    .news-letter {
      .btn_1 {
        margin-left: inherit;
        padding: 8px;
        margin-right: 5px;
        &:after {
          display: none;
        }
      }
      .form-group {
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
      input {
        width: 100%;
      }
    }
        .navbar-footer {
      ul {
       opacity: 0;
      }
    }
  }
}