/***************************** 

          GLOBAL

********************************/
body {
  margin: 0; }

.width-full {
  width: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

a.sa_white_link {
  color: #FFf;
  transition: .4s; }
  a.sa_white_link:hover {
    color: #2aaf98; }

ul {
  padding-right: 0; }

.index-1 {
  z-index: 1; }

.index-2 {
  z-index: 2; }

.index-3 {
  z-index: 3; }

.font-thin {
  font-weight: lighter; }

.white {
  color: #fff !important; }

.center-absolute {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center; }

.overflow_hidden {
  overflow: hidden; }

.l-title hr {
  width: 20%;
  border: 1px solid #c5c5c5; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
a,
span,
strong,
em,
i,
b,
li {
  direction: rtl;
  font-family: 'IRANSans';
  text-align: right; }

.text_bold, h1.heading-style-1,
h2.heading-style-1,
h3.heading-style-1,
h4.heading-style-1,
h5.heading-style-1,
h6.heading-style-1, h1.heading-style-2,
h2.heading-style-2,
h3.heading-style-2,
h4.heading-style-2,
h5.heading-style-2,
h6.heading-style-2, h1.heading-style-3,
h2.heading-style-3,
h3.heading-style-3,
h4.heading-style-3,
h5.heading-style-3,
h6.heading-style-3, h1.heading-style-4,
h2.heading-style-4,
h3.heading-style-4,
h4.heading-style-4,
h5.heading-style-4,
h6.heading-style-4, h1.heading-style-5,
h2.heading-style-5,
h3.heading-style-5,
h4.heading-style-5,
h5.heading-style-5,
h6.heading-style-5, h1.heading-style-6,
h2.heading-style-6,
h3.heading-style-6,
h4.heading-style-6,
h5.heading-style-6,
h6.heading-style-6 {
  font-weight: bold; }

.mr-bt-0 {
  margin-bottom: 0 !important; }

.relative {
  position: relative; }

.text-jutify {
  text-align: justify; }

h1.heading-style-1,
h2.heading-style-1,
h3.heading-style-1,
h4.heading-style-1,
h5.heading-style-1,
h6.heading-style-1 {
  font-size: 35px;
  line-height: 46px;
  margin-bottom: 29px; }

h1.heading-style-2,
h2.heading-style-2,
h3.heading-style-2,
h4.heading-style-2,
h5.heading-style-2,
h6.heading-style-2 {
  font-size: 29px;
  line-height: 67.5px;
  margin-bottom: 20px; }

h1.heading-style-3,
h2.heading-style-3,
h3.heading-style-3,
h4.heading-style-3,
h5.heading-style-3,
h6.heading-style-3 {
  font-size: 23px;
  line-height: 52.5px;
  margin-bottom: 20px; }

h1.heading-style-4,
h2.heading-style-4,
h3.heading-style-4,
h4.heading-style-4,
h5.heading-style-4,
h6.heading-style-4 {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 12px; }

h1.heading-style-5,
h2.heading-style-5,
h3.heading-style-5,
h4.heading-style-5,
h5.heading-style-5,
h6.heading-style-5 {
  font: bold 16px;
  line-height: 30px;
  letter-spacing: 3px;
  margin-bottom: 11px; }

h1.heading-style-6,
h2.heading-style-6,
h3.heading-style-6,
h4.heading-style-6,
h5.heading-style-6,
h6.heading-style-6 {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 18px;
  text-transform: uppercase; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-align: right; }

.dis-none {
  display: none; }

.dis-blc {
  display: block; }

/***************************** 

          HEADER

********************************/
.header-one {
  background-color: #1d252d; }
  .header-one .container {
    height: 55px; }
  .header-one .row {
    height: 55px; }
  .header-one .heading-style-3 {
    font-weight: lighter; }
  .header-one ul li {
    margin-left: 25px;
    margin-right: 0; }
    .header-one ul li:last-child {
      margin-left: 0; }

.header-two {
  padding: 30px 0;
  background-color: #2a343d;
  border-bottom: 2.5px solid #4c555c; }
  .header-two .sa_black_box {
    width: 130px;
    background-color: #3c4752;
    height: 80px; }
  .header-two .sa_header_contact_texts {
    width: 325px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px; }
    .header-two .sa_header_contact_texts p {
      font-size: 11px;
      text-align: center;
      margin-bottom: 5px; }
    .header-two .sa_header_contact_texts a {
      font-size: 15px; }
  .header-two ul li {
    margin-left: 30px; }
    .header-two ul li:last-child {
      margin-left: 0; }
  .header-two .form-control {
    background-color: #3c4752;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 15px;
    margin-top: 15px; }
    .header-two .form-control::placeholder {
      color: #fff !important;
      font-weight: lighter; }
    .header-two .form-control:focus {
      border: 0;
      box-shadow: none; }

.navbar {
  background-color: #2a343d !important; }
  .navbar .navbar-nav {
    margin-right: 25px !important; }
  .navbar .navbar-brand {
    color: #fff;
    background-color: #15b095;
    padding: 0px 10px;
    border-radius: 5px; }

.banner {
  background-image: url(../../../img/bg/bg_1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  padding-bottom: 80px; }
  .banner .container {
    margin-bottom: 8.5rem !important; }

.banner-content p {
  font-size: 13px;
  padding-right: 35px; }
  .banner-content p:before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #ef5c5c;
    top: 5px;
    right: 0; }
.banner-content .btn-transparent {
  position: absolute;
  left: 25px;
  bottom: -65px; }

.btn-transparent {
  font-size: 16px;
  padding: 10px 30px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 20px;
  transition: .3s; }
  .btn-transparent:hover {
    background-color: #fff;
    color: #000000cf; }

.instantaneous-news .sa_yellow_section {
  background-color: #fad32b; }
  .instantaneous-news .sa_yellow_section .heading-style-3 {
    margin-bottom: 0; }
.instantaneous-news #owl-one .item p {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0; }
.instantaneous-news .owl-dots {
  display: none; }
.instantaneous-news .owl-nav {
  margin-top: 10px;
  width: 50px;
  background-color: #1d252d;
  color: #fad32b;
  position: absolute;
  left: 0;
  top: 0; }
  .instantaneous-news .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none; }
.instantaneous-news .sa_news_slider {
  background-color: #1d252d; }

/*# sourceMappingURL=main.css.map */
